
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <h1>Nuova riparazione</h1>
    <br/>
    <form id="riparazioneForm" class="form form-riparazione"
          method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group required">
            {{form.cognome.label}}
            {{form.cognome(placeholder="Cognome", class_="form-control")}}
        </div>
        <div class="form-group required">
            {{form.nome.label}}
            {{form.nome(placeholder="Nome", class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.indirizzo.label}}
            {{form.indirizzo(placeholder="Indirizzo", class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.citta.label}}
            {{form.citta(placeholder="Città", class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.telefono.label}}
            {{form.telefono(placeholder="Telefono", class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.cell.label}}
            {{form.cell(placeholder="Cellulare", class_="form-control")}}
        </div>
        <div class="form-group required">
            {{form.categoria.label}}
            {{form.categoria(placeholder="Categoria", class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.oggetto.label}}
            {{form.oggetto(placeholder="Oggetto", class_="form-control")}}
        </div>
        <div class="form-group required">
            {{form.descrizione.label}}
            {{form.descrizione(placeholder="Descrizione", class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.referenza.label}}
            {{form.referenza(placeholder="Referenza", class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.peso.label}}
            {{form.peso(class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.data_arrivo.label}}
            {{form.data_arrivo(class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.consegna_prevista.label}}
            {{form.consegna_prevista(class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.difetto.label}}
            {{form.difetto(placeholder="Difetto", class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.riparatore.label}}
            {{form.riparatore(placeholder="Riparatore", class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.n_riparazione.label}}
            {{form.n_riparazione(placeholder="Numero riparatore", class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.preventivo.label}}
            {{form.preventivo(class_="form-control")}}
        </div>
        <p><input class="btn btn-default btn-submit" type="submit" value="Salva"></p>
    </form>
</div>
{% endblock %}
