
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <h1>{{title}}</h1>
    {% block search %}{% endblock %}
    {% if riparazioni%}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Dettaglio</th>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Oggetto</th>
                    <th>Data di arrivo</th>
                    {% if request.url_rule.endpoint == "riparazioni.riparazioni_completate" %}
                        <th>Data riparazione</th>
                    {% endif %}
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% set riparazioni_list = riparazioni.items or riparazioni %}
                {% for riparazione in  riparazioni_list %}
                    <tr>
                        <td>
                            <button type="button"
                                    class="btn btn-info btn-xs"
                                    data-toggle="modal"
                                    data-target="#modal{{riparazione.id}}">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="modal{{riparazione.id}}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button"
                                                    class="close"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Dettaglio riparazione</h4>
                                        </div>
                                        <div class="modal-body">
                                            <dl class="dl-horizontal">
                                                <dt>Cognome</dt>
                                                <dd>{{riparazione.cognome or ''}}</dd>
                                                <dt>Nome</dt>
                                                <dd>{{riparazione.nome or ''}}</dd>
                                                <dt>Indirizzo</dt>
                                                <dd>{{riparazione.indirizzo or ''}}</dd>
                                                <dt>Citt&agrave;</dt>
                                                <dd>{{riparazione.citta or ''}}</dd>
                                                <dt>Telefono</dt>
                                                <dd>{{riparazione.telefono or ''}}</dd>
                                                <dt>Cellulare</dt>
                                                <dd>{{riparazione.cell or ''}}</dd>
                                                <dt>Categoria</dt>
                                                <dd>{{riparazione.categoria or ''}}</dd>
                                                <dt>Oggetto</dt>
                                                <dd>{{riparazione.oggetto or ''}}</dd>
                                                <dt>Descrizione</dt>
                                                <dd>{{riparazione.descrizione or ''}}</dd>
                                                <dt>Referenza</dt>
                                                <dd>{{riparazione.referenza or ''}}</dd>
                                                <dt>Peso</dt>
                                                <dd>{{riparazione.peso or ''}}</dd>
                                                <dt>Data di arrivo</dt>
                                                <dd>
                                                    {% if riparazione.data_arrivo %}
                                                        {{riparazione.data_arrivo.strftime('%d/%m/%Y')}}
                                                    {% endif %}
                                                </dd>
                                                <dt>Consegna prevista</dt>
                                                <dd>
                                                    {% if riparazione.consegna_prevista %}
                                                    {{riparazione.consegna_prevista.strftime('%d/%m/%Y')}}
                                                    {% endif %}
                                                </dd>
                                                <dt>Difetto</dt>
                                                <dd>{{riparazione.difetto or ''}}</dd>
                                                <dt>Riparatore</dt>
                                                <dd>{{riparazione.riparatore or ''}}</dd>
                                                <dt>Numero riparatore</dt>
                                                <dd>{{riparazione.n_riparazione or ''}}</dd>
                                                <dt>Preventivo</dt>
                                                <dd>{{riparazione.preventivo or ''}}</dd>
                                                <dt>Riparazione effettuata</dt>
                                                <dd>{{riparazione.riparazione_effettuata or ''}}</dd>
                                                <dt>Data riparazione</dt>
                                                <dd>
                                                    {% if riparazione.data_riparazione %}
                                                        {{riparazione.data_riparazione.strftime('%d/%m/%Y')}}
                                                    {% endif %}
                                                </dd>
                                                <dt>Garanzia</dt>
                                                <dd>{{riparazione.garanzia or ''}}</dd>
                                                <dt>Costo riparazione</dt>
                                                <dd>{{riparazione.costo_riparazione or 0}}</dd>
                                                <dt>Spese di spedizione</dt>
                                                <dd>{{riparazione.spese_spedizione or 0}}</dd>
                                                <dt>Totale</dt>
                                                <dd>{{riparazione.totale or 0}}</dd>
                                                <dt>Note</dt>
                                                <dd>{{riparazione.note or ''}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{riparazione.cognome}}</td>
                        <td>{{riparazione.nome}}</td>
                        <td>{{riparazione.oggetto}}</td>
                        <td>
                            {% if riparazione.data_arrivo %}
                                {{riparazione.data_arrivo.strftime('%d/%m/%Y')}}
                            {% endif %}
                        </td>
                        {% if request.url_rule.endpoint == "riparazioni.riparazioni_completate" %}
                            <td>
                                {% if riparazione.data_riparazione %}
                                    {{riparazione.data_riparazione.strftime('%d/%m/%Y')}}
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>
                            <a class="actionButton btn btn-default btn-xs"
                               href="{{ url_for('riparazioni.modifica_riparazione', id=riparazione.id) }}"
                               role="button"
                               data-toggle="tooltip" data-placement="top"
                               title="Modifica">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                            </a>
                            {% if request.url_rule.endpoint == "riparazioni.riparazioni_pendenti" %}
                                <a class="actionButton btn btn-success btn-xs"
                                    href="{{ url_for('riparazioni.completa_riparazione', id=riparazione.id) }}"
                                    role="button"
                                    data-toggle="tooltip" data-placement="top"
                                    title="Completa">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true">
                                </a>
                            {% endif %}
                            <a class="actionButton btn btn-danger btn-xs"
                               href="{{ url_for('riparazioni.delete_item', id=riparazione.id) }}"
                               role="button"
                               data-toggle="tooltip" data-placement="top"
                               title="Elimina">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if riparazioni.iter_pages %}
            <div class=pagination>
                {% if riparazioni.has_prev %}<a href="{{ url_for(request.url_rule.endpoint, page=riparazioni.prev_num) }}"><< Precedente</a>{% else %}<< Precedente{% endif %}
                {%- for page in riparazioni.iter_pages() %}
                    {% if page %}
                        {% if page != riparazioni.page %}
                            <a href="{{ url_for(request.url_rule.endpoint, page=page) }}">{{ page }}</a>
                        {% else %}
                            <strong>{{ page }}</strong>
                        {% endif %}
                    {% else %}
                        <span class=ellipsis>…</span>
                    {% endif %}
                {%- endfor %}
                {% if riparazioni.has_next %}<a href="{{ url_for(request.url_rule.endpoint, page=riparazioni.next_num) }}">Successivo >></a>{% else %}Successivo >>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {% block no_results %}
            {% if request.url_rule.endpoint == "riparazioni.riparazioni_pendenti" %}
                <p class="bg-warning">Non ci sono riparazioni pendenti</p>
            {% endif %}
            {% if request.url_rule.endpoint == "riparazioni.riparazioni_completate" %}
                <p class="bg-warning">Non ci sono riparazioni completate</p>
            {% endif %}
        {% endblock %}
    {% endif %}

</div>
{% endblock %}
