
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <h1>Import database</h1>
    <form id="riparazioneForm" class="form form-riparazione"
          method="POST" action="" role="form"
          enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group required">
            {{form.file.label}}
            {{form.file(class_="form-control")}}
        </div>
        <p>
            <input class="btn btn-default btn-submit" type="submit" name="btn-salva" value="Salva">
            <input class="btn btn-danger btn-submit" type="submit" name="btn-annulla" value="Annulla">
        </p>
    </form>
</div>
{% endblock %}
