
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="page-header">
    <h1>Gestione riparazioni</h1>
</div>
<div class="panel text-center">
    <div class="panel-body">
        <img src="{{ url_for('static', filename='images/vetrina.jpg') }}">
    </div>
</div>

<div class="body-content">
  <div class="row">
    <div class="col-lg-6">
      <h2>Riparazioni pendenti: {{riparazioni_pendenti}}</h2>
      <a href="{{ url_for('riparazioni.riparazioni_pendenti') }}" class="btn btn-default" href="#">Visualizza &raquo;</a></p>
   </div>
   <div class="col-lg-6">
       <h2>Riparazioni completate: {{riparazioni_completate}}</h2>
       <a href="{{ url_for('riparazioni.riparazioni_completate') }}" class="btn btn-default" href="#">Visualizza &raquo;</a></p>
   </div>
  </div><!-- /.row -->
</div>
{% endblock %}
